@using Agency.Feature.Portfolio.Models;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<PortfolioContainer>

<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">@Model.Title</h2>
                <h3 class="section-subheading text-muted">@Model.Subtitle</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Children)
            {
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="@item.Thumbnail.Url" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>@item.Client</h4>
                        <p class="text-muted">@item.Category</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
@for (int i = 1; i == Model.Children.Count(); i++)
{
    var item = Model.Children.ElementAt(i - 1);
    <div class="portfolio-modal modal fade" id="@string.Concat("portfolioModal", i)" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">@item.ProjectName</h2>
                                <p class="item-intro text-muted">@item.ProjectTitle</p>
                                <img class="img-fluid d-block mx-auto" src="@item.Image.Src" alt="">
                                <p>@item.Description</p>
                                <ul class="list-inline">
                                    <li>Date: @item.Date.Month.ToString() @item.Date.Year.ToString()</li>
                                    <li>Client: @item.Client</li>
                                    <li>Category: @item.Category</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
